* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}

.border-box {
  border: 5px solid black;
}

.flex-box {
  display: flex;
  align-items: stretch;
}

.box-size {
  height: 200px;
  width: 40%;
}

aside.box-size {
  width: 20%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: blue;
}
