* {
    box-sizing: border-box;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 30px;
  background: rgb(180, 171, 96);
  border-radius: 5px;
}

span {
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman';
  color: aliceblue;
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}

span:hover {
  font-size: 100px;
}
